


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



checkpoints/*.pth
checkpoints/*.pt
data/processed/*.pt
*.pth
*.pt


# Prevent uploading thousands of images or raw text files to GitHub
data/Flickr8k_Dataset/
data/Flickr8k_text/
data/
!data/.gitkeep


.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


.pytest_cache/
.coverage
htmlcov/
*.log